.header {
  font-family: sans-serif; }

.header__main {
  padding-bottom: 20px;
  background-color: white; }
  .header__main img {
    width: 100px; }
  .header__main img:hover {
    transform: scale(1.3);
    transition: 0.3s; }
  .header__main nav {
    margin: 20px 0 20px 0; }
  .header__main a {
    font-size: 15px;
    text-decoration: none;
    margin-left: 10px; }
  .header__main h1 {
   font-family: 'Corinthia', cursive;;}
 
.header__topBar {
  background-color: black;
  font-size: 12px; }
  .header__topBar a {
    text-decoration: none;
    color: white; }
  .header__topBar img {
    width: 20px; }
  .header__topBar img:hover {
    transform: scale(1.5);
    transition: 0.3s; }

.banner {
  height: 200px; }
  .banner .banner_text {
    font-size: 100%;
    z-index: 1000; }
  .banner .banner_text--white {
    color: white; }

main {
  width: 100%; }

.categorias {
  padding-top: 40px;
  text-align: left; }
  .categorias ul {
    list-style: none; }
  .categorias ul li button:hover{
    background-color: #54AC1C;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
    }

.categorias__text--titulo {
  font-size: 25px;
  font-weight: bold; }

.categorias__text--rubro {
  font-weight: bold;
  font-size: 17px; }

.categorias__text--item {
  font-style: italic;
  font-size: 15px; }

.categorias ul a:hover {
  background-color: #54AC1C;
  color: white;
  transition: 0.5s;
  border-radius: 5px; }

.productos {
  text-align: center;
  justify-content: space-evenly; }
  .productos .productos__texto--grande {
    font-size: 20px; }
  .productos .productos__texto--chico {
    font-size: 12px;
   }
  .productos .productos__text--button {
    font-size: 10px; }
  .productos .productos__card {
    margin: 10px; }
  .productos .productos__text--titulo {
    color: #54AC1C;
    padding: 10px;
    font-size: 30px; 
    border-radius: 5px;
 }
.tarjetas{
  box-shadow: 2px 2px 0px 0px grey;
  padding: 20px;
  margin: 5px 10px 10px 5px;
}
  .tarjetas--img img {
    width: 60px; }
.detalle{
  background-color: #ffffff;
    background-image: linear-gradient(to bottom, #080808, #ffffff, black);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.detalle2{
  width: 100%;
  height: 70px;
  overflow-y: hidden
}
.ofertasArea {
  width: 100%;
  margin: 10px;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.envio {
  padding: 50px;
  text-align: center; }
  .envio .envio__text--titulo {
    font-size: 20px;
    font-weight: bold; }
  .envio .envio__text--parrafo {
    font-size: 12px; }

.footer {
  background-color: grey; }
  .footer .footer__logo {
    text-align: end;
    padding-top: 30px; }
    .footer .footer__logo .footer__logo--img {
      width: 150px; }
    .footer .footer__logo img:hover {
      transform: scale(1.3);
      transition: 0.3s; }
  .footer .footer__contacto {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }
    .footer .footer__contacto .footer__contacto--titulo {
      font-size: 30px; }
    .footer .footer__contacto .footer__contacto--parrafo {
      font-size: 18px; }
    .footer .footer__contacto .footer__contacto--redes {
      width: 50px; }
    .footer .footer__contacto img:hover {
      transform: scale(1.3);
      transition: 0.3s; }
  .footer .footer__afip {
    text-align: left;
    padding-top: 30px; }
    .footer .footer__afip .footer__afip--img {
      width: 100px; }
    .footer .footer__afip img:hover {
      transform: scale(1.3);
      transition: 0.3s; }

